<h1>物件編集</h1>

<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%=pluralize(property.errors.count, "error") %>
         prohibited this property from being saved:
       </h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :物件名 %>
    <%= form.text_field:name  %>
    <%= form.label :賃料 %>
    <%= form.number_field :price %><nobr>円</nobr>
    <%= form.label :住所 %>
    <%= form.text_field :address %>
    <%= form.label :築年数 %>
    <%= form.number_field :old %><nobr>年</nobr>
    <%= form.label :備考 %>
    <%= form.text_area :content %>
    <%= form.submit "更新する"%>
  </div>
 <% if @property.moyoriekis.any? %>
  <%= form.fields_for :moyoriekis do |moyorieki| %>
       <div class="moyorieki_element">
         <h1 class="aaa" ><b>最寄り駅<%= moyorieki.index.to_i + 1 %></b></h1>
         <%= moyorieki.label :路線名 %>
         <%= moyorieki.label :駅名 %>
         <%= moyorieki.label :徒歩分数 %>
         <%= moyorieki.text_field :rosen %>
         <%= moyorieki.text_field :station %>
         <%= moyorieki.number_field :foot %><nobr>分</nobr>
      </div>
  <% end %>
 <% end %>
<% end %>
<%= link_to '詳細', property_path %>
<%= link_to '戻る', properties_path %>
