<h1>物件登録</h1>

<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%=pluralize(property.errors.count, "error") %>
         prohibited this property from being saved:
       </h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :物件名 %>
    <%= form.text_field:name  %>
    <%= form.label :賃料 %>
    <%= form.number_field :price %><nobr>円</nobr>
    <%= form.label :住所 %>
    <%= form.text_field :address %>
    <%= form.label :築年数 %>
    <%= form.number_field :old %><nobr>年</nobr>
    <%= form.label :備考 %>
    <%= form.text_area :content %>
  </div>

  <%= form.fields_for :moyoriekis do |moyorieki| %>
    <div>
      <h1>最寄り駅<%= moyorieki.index.to_i + 1 %></h1>
      <%= moyorieki.label :路線名 %>
      <%= moyorieki.text_field :rosen %>
      <%= moyorieki.label :駅名 %>
      <%= moyorieki.text_field :station %>
      <%= moyorieki.label :徒歩分数 %>
      <%= moyorieki.number_field :foot %><nobr>分</nobr>
    </div>
  <% end %>
  <%= form.submit "登録する"%>
<% end %>

<%= link_to '戻る', properties_path %>
