<div class="property">
  <p><b>物件名：</b><%= @property.name %></p>
  <p><b>賃料：</b><%= "#{number_with_delimiter @property.price}円" %></p>
  <p><b>住所：</b><%= @property.address %></p>
  <p><b>築年数</b> <%= "#{@property.old}年" %></p>
  <p><b>備考</b> <%= @property.content %></p>
<br>
</div>
<hr>
<% @moyoriekis.each_with_index do |moyorieki,i| %>
 <% if @property.moyoriekis.any? %>
   <h1>最寄駅<%= i + 1 %></h1>
   <div class="property">
    <p><b>路線名</b> <%= moyorieki.rosen %></p>
    <p><b>駅名</b> <%= moyorieki.station %></p>
    <p><b>徒歩分数</b> <%= moyorieki.foot %></p>
  </div>
    <% end %>
 <% end %>

<table>
<tr><%= link_to '編集', edit_property_path(@property.id) %></tr>
<nobr>|</nobr>
<tr><%= link_to '戻る', properties_path %></tr>
</table>
